{% extends "base.html" %}

{% block titulo %}Iniciar Sesión{% endblock %}

{% block header %}
<div class="text-center mt-5 pt-5">
    <h1>Inicia sesión</h1>
    <h4>Ingresa tu correo y contraseña</h4>
</div>
{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-4">
                <form>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo</label>
                        <input type="email" class="form-control rounded-pill" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email" id="email" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <label for="contraseña" class="form-label">Contraseña</label>
                        <input type="password" class="form-control rounded-pill" id="contraseña" name="contraseña" pattern="(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,16}"  placeholder="No la compartas">
                    </div>
                    <div class="d-grid gap-2">
                        <a href="/inicia-sesion" class="btn btn-primary rounded-pill">Inicia sesión</a>
                        <a href="/registrate" class="btn btn-success rounded-pill">Crea tu cuenta</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
