<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lugares turisticos Chihuhua</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
<div class="row">
    <div class="m-2 text-center">
        <h3 class="">Las 7 maravillas del mundo.</h3>
        <h6 >A través de los siglos las personas han destacado paisajes y construcciones dignas de admirar. De hecho, existe un listado que data del siglo II antes de Cristo que reconoce siete maravillas del mundo. Pero, con el cambio de siglo, una iniciativa dio a conocer los siete sitios más destacados</h6>
        <img src="static/img/coches-mas-rapidos-nurburgring-categorias-202499588-1704724779_5.jpg" alt="Pista de nurburgring"
            srcset="">
    </div>
</div>

<div>
</div>

    <footer class="container-fluid bg-secondary text-center p-1 text-white">
        <h3>Oaxaca Orona David Adrián</h3>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>