<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Las 7 maravillas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
{% block contenido %}
    <div class="row">
        <div class="m-2 text-center">
            <h3><strong>Las 7 maravillas del mundo</strong></h3>
            <p>A través de los siglos las personas han destacado paisajes y construcciones dignas de admirar. De hecho,
                existe un listado que data del siglo II antes de Cristo que reconoce siete maravillas del mundo.</p>
            <p>Pero, con el cambio de siglo, una iniciativa dio a conocer los siete sitios más destacados. Entre ellos 3
                destinos latinoamericanos.</p>
            <img src="static/img/muralla.webp" alt="La gran muralla china" class="img-fluid rounded">
        </div>
    </div>

    <div class="row m-4">
        <div class="col-6 offset-3 text-center">
            <h4><strong>La gran muralla china</strong></h4>
            <h5 class="p-2">
                Fue construida alrededor del año 220 a.C. por el primer emperador Qin Shin Huang, quien ordenó reunir
                los tramos de fortificaciones construidas anteriormente, a fin de crear un sistema de defensa contra las
                invasiones de los pueblos del Norte, revela la Organización de las Naciones Unidas para la Educación, la
                Ciencia y la Cultura (Unesco, por sus siglas en inglés).
            </h5>
            <h5 class="p-2">
                El organismo señala que los trabajos de edificación de la Gran Muralla China prosiguieron hasta la
                dinastí­a de los Ming (1368-1644), dando por resultado la obra de ingenierí­a militar más grande de
                todos los tiempos. Desde 1987 forma parte de la Lista del Patrimonio de la Humanidad de la Unesco.
            </h5>
        </div>
    </div>

    <div class="row m-4">
        <div class="col-6 offset-3 text-center">
            <h4><strong>Chichen Itzá, México</strong></h4>
            <h5 class="p-2">
                Chichén Itzá es una ciudad maya de la península de Yucatán (México) que floreció en los siglos IX y X.
                De acuerdo con Unesco, esta ciudad sagrada fue uno de los centros más importantes de la civilización
                maya.
            </h5>
            <h5 class="p-2">
                Entre los edificios que han sobrevivido al paso del tiempo figuran el Templo de los Guerreros, el
                Castillo y el observatorio circular conocido por el nombre de El Caracol. Por su relevancia, también se
                encuentra en la lista del patrimonio desde 1988.
            </h5>
            <img src="static/img/mexicochichen.webp" alt="Chichen Itzá" class="img-fluid rounded mt-3">
        </div>
    </div>

    <div class="row m-4">
        <div class="col-6 offset-3 text-center">
            <h4><strong>Petra, Jordania</strong></h4>
            <h5 class="p-2">
                Petra es uno de los sitios arqueológicos más célebres del mundo. Se encuentra en la actual Jordania en
                un valle remoto, entre montañas de arenisca y acantilados. En parte está esculpida en roca y en parte
                construida en medio de las montañas surcadas por pasos y desfiladeros.
            </h5>
            <h5 class="p-2">
                Según la Unesco, en la Antigüedad Petra fue una importante encrucijada de caravanas comerciales que
                transitaban entre Arabia, Egipto, Siria y Fenicia. Al igual que los destinos anteriores, este sitio
                forma parte del patrimonio de la humanidad desde 1988.
            </h5>
            <img src="static/img/ruinas.webp" alt="Petra" class="img-fluid rounded mt-3">
        </div>
    </div>


    <div class="row m-4">
        <div class="col-6 offset-3 text-center">
            <h4><strong>Machu Picchu, Perú</strong></h4>
            <h5 class="p-2">
                Otra de las maravillas del mundo moderno localizadas en Latinoamérica es Machu Picchu. Ubicado a 2430
                metros de altura en medio de un bosque tropical de montaña, el santuario es considerado una de las
                realizaciones arquitectónicas más imponentes del Imperio Inca. Desde 1983 es parte del patrimonio
                mundial.
            </h5>
            <img src="static/img/peru.webp" alt="Machu Picchu" class="img-fluid rounded mt-3">
        </div>
    </div>

    <div class="row m-4">
        <div class="col-6 offset-3 text-center">
            <h4><strong> Cristo Redentor, Brasil</strong></h4>
            <h5 class="p-2">
                El emblemático Cristo Redentor que se encuentra en la cima del monte Corcovado en Río de Janeiro
                (Brasil) es otro de los destinos destacados. La emblemática construcción comenzó en 1926 y finalizó
                cinco años más tarde.
            </h5>
            <h5 class="p-2">
                Según informa Britannica, el monumento está hecho de hormigón armado y mide 30 metros de altura sin
                incluir su base, que mide unos 8 metros, y sus brazos extendidos miden 28 metros. Es la escultura Art
                Déco más grande del mundo. El Cristo Redentor está recubierto de unos seis millones de azulejos.
            </h5>
            <img src="static/img/cirsto.webp" alt="Cristo Redentor" class="img-fluid rounded mt-3">
        </div>
    </div>

    <div class="row m-4">
        <div class="col-6 offset-3 text-center">
            <h4><strong>Coliseo, Italia</strong></h4>
            <h5 class="p-2">
                El Coliseo de Roma es considerada una proeza de ingeniería construida en el siglo I por orden del
                emperador Vespasiano, señala Britannica. El anfiteatro mide 189 por 156 metros y cuenta con un complejo
                sistema de bóvedas. En su apogeo, la estructura tenía capacidad para 50 000 espectadores que podían
                apreciar luchas de gladiadores y combates entre hombres y animales.
            </h5>
            <img src="static/img/coliseo.webp" alt="Coliseo" class="img-fluid rounded mt-3">
        </div>
    </div>

    <div class="row m-4">
        <div class="col-6 offset-3 text-center">
            <h4><strong>Taj Mahal, India</strong></h4>
            <h5 class="p-2">
                La séptima maravilla del mundo moderno es el Taj Mahal, en la India. Se trata de un imponente mausoleo
                de mármol blanco edificado entre los años 1631 y 1648 por orden del emperador mogol Shah Jahan para
                perpetuar la memoria de su esposa favorita, explica la Unesco.
            </h5>
            <img src="static/img/tajmahal.webp" alt="Taj Mahal" class="img-fluid rounded mt-3">
        </div>
    </div>

    <div class="row">
        <div class="col-4 offset-4 p-2 ">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fePHLgOJ2iY?si=lMb4OomzmSVoXT8q"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>